$brand: (
  blue: #0095D9,
  yellow: #FCAF17,
  green: #80C342
);

$secundary: (
  ligh-blue: #E5F4FB,
  bright-blue: #66BFE8,
  dark-blue: #006898,
  light-yellow: #FEEFD1,
  dark-yellow: #D69514,
  light-green: #F2F9EC,
  dark-green: #5A892E,
  bluetijo: #03BFD7,
  orange: #DE761C
);

$grayscale: (
  white: #FFFFFF,
  extra-light: #F7F9FA,
  ultra-light: #F0F1F2,
  light: #D0D3D9,
  medium: #B2B5BF,
  dark: #777C87,
  ultra-dark:#484A4D,
  black: #000000,
);

$system: (
  error: #E9233A,
  light-red: #FDE9EB,
  dark-red: #A31829
);
