:host ::ng-deep .app-component__space-text {
  margin-bottom: 16px;
}

:host ::ng-deep .app-component__space-card--bottom {
  margin-bottom: 32px;
}

:host ::ng-deep .app-component__space-card--right {
  padding-right: 5px !important;
}

:host ::ng-deep .app-component__space-card--left {
  padding-left: 5px !important;
}

:host ::ng-deep .app-component__cars-header {
  padding: 18px !important;
  text-align: center;
}

:host ::ng-deep .app-component__cars-product {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 1px solid #D6D0CC;
}

:host ::ng-deep .app-component__cars-Initials {
  border-radius: 0 !important;
  border-right: 1px solid #D6D0CC;
}

:host ::ng-deep .app-component__cars-account {
  border-radius: 0 !important;
  border-right: 1px solid #D6D0CC;
}

:host ::ng-deep .app-component__cars-last-actualization {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

@media (max-width: 1279px) {
  :host ::ng-deep .app-component__cars-Initials {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-right: none;
  }

  :host ::ng-deep .app-component__cars-account {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }  
}

@media (max-width: 959px) {
  :host ::ng-deep .app-component__space-card--right {
    padding-right: 0px !important;
  }

  :host ::ng-deep .app-component__space-card--left {
    padding-left: 0px !important;
  }
}

@media (max-width: 719px) {
  :host ::ng-deep .app-component__cars-product,
  :host ::ng-deep .app-component__cars-Initials,
  :host ::ng-deep .app-component__cars-account,
  :host ::ng-deep .app-component__cars-last-actualization {
    border-radius: 8px !important;
    border-right: none;
  }
}