.dashboard-component {
  &__space-text {
    margin-bottom: 16px;
  }
  
  &__space-card {
    &--bottom {
      margin-bottom: 32px;
    }
    
    &--right {
      padding-right: 5px !important;
    }
    
    &--left {
      padding-left: 5px !important;
    }

  }

  &__cars {
    &-header {
      padding: 18px !important;
      text-align: center;
    }
    
    &-product {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-right: 1px solid #D6D0CC;
    }
    
    &-Initials {
      border-radius: 0 !important;
      border-right: 1px solid #D6D0CC;
    }
    
    &-account {
      border-radius: 0 !important;
      border-right: 1px solid #D6D0CC;
    }
    
    &-last-actualization {
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
  
  }

  &__pointer-info--space-right {
    margin-right: 32px;
  }

  &__card__technical-debts__info__content {
    transform: translateY(40%);
  }

  &__card__technical-debts__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
  }
  
}


@media (max-width: 1279px) {
  .dashboard-component {
    &__cars-Initials {
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 8px !important;
      border-right: none;
    }
  
    &__cars-account {
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;
    }
  }

}

@media (max-width: 959px) {
  .dashboard-component {
    &__space-card--right {
      padding-right: 0px !important;
    }
  
    &__space-card--left {
      padding-left: 0px !important;
    }

    &__card__technical-debts__info__content {
      transform: none;
    }
  
  }
}

@media (max-width: 719px) {
  .dashboard-component__cars-product,
  .dashboard-component__cars-Initials,
  .dashboard-component__cars-account,
  .dashboard-component__cars-last-actualization {
    border-radius: 8px !important;
    border-right: none;
  }
}